@charset "UTF-8";
/* 回答はここから */

/* Q1 */
.inline-box{
  display: inline-block;
  width: 200px;
  font-size: 16px;
  padding: 20px 0 ;
  background-color: #fff;
}

.align-box{
  text-align: center;
}

.align-text{
  padding:10px;
  background-color: #a4b3e9;
  display: inline-block;
}

.margin-text{
  width: 90px;
  background-color: #a4b3e9;
  padding: 10px;
  margin: auto;
}


/* Q2 */
.q1--perimeter{
  display: table;
}

.inline-table{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table-text{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}


.flex-text{
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}




.container{
  width: 250px;
  height: 150px;
  position: relative;
}

.position-text{
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%,50%);
  background-color: #a4b3e9;
  padding: 10px;
}